.home, .partie,.lobby{
    display:none;
}

html,body{
    height:100%;
}
body{
    overflow: hidden;
}
canvas{
    width:100%;
    height:100%;
    /*display:none;*/
}

.container{
    position:relative;
    height:100%;
    width:100%;
    -webkit-animation: fadein 0.6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.6s; /* Firefox < 16 */
     -ms-animation: fadein 0.6s; /* Internet Explorer */
      -o-animation: fadein 0.6s; /* Opera < 12.1 */
         animation: fadein 0.6s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.home, .partie, .lobby{
    width:500px;
    height:300px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin:0 auto;
    text-align:center;
}

.home img{
    width:100%;
}
.home form{
    
}
.home form input[type="text"], .partie input[type="text"]{
    height:38px;
    margin-left:13px;
    width:372px;
    border:1px solid rgb(0,0,0,0.4);
    border-right:none;
    padding:2px 4px ;
    font-size:16px;
    text-align:center;
    float:left;
    /*border-radius:4px 0 0 4px;*/
}
.home form input[type="submit"],.partie input[type="submit"]{
    height:38px;
    width:53px;
    float:left;
    border:1px solid rgb(0,0,0,0.4);
    border-left:none;
}
.partie input[type="submit"]{
    width:90px!important;
}

.partie button{
    margin:30px auto;
    width:150px;
    height:50px;
}

.lobby{
    font-size:17px;
}

.start_btn{
    width:150px;
    height:50px;
}

.lobby_title{
}